ENVIRONMENT=development
UNIT_TESTS=0
SECRET=ThisShouldBeChangedInProduction
ENCRYPTION_KEY=
DATABASE_TYPE=POSTGRESQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=fief
DATABASE_PASSWORD=fiefpassword
DATABASE_NAME=fief
