# Extraction from Python files
[python: fief/**.py]

# Extraction from Jinja2 template files
[jinja2: fief/templates/**.html]
encoding = utf-8

# Extraction from Jinja2 template files
[jinja2: fief/emails/**.html]
encoding = utf-8
