aiomysql==0.0.22
aiosqlite==0.17.0
alembic==1.7.5
asyncpg==0.25.0
Babel==2.9.1
fastapi==0.73.0
fastapi-users[sqlalchemy2]==9.2.3
fief-client==0.3.3
furl==2.1.3
greenlet==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
jwcrypto==1.0
psycopg2==2.9.3
pydantic[dotenv]==1.9.0
python-slugify==5.0.2
sqlalchemy[mypy]==1.4.31
typer==0.4.0
uvicorn[standard]==0.17.1
