{% import "macros/alerts.html" as alerts %}
{% import "macros/buttons.html" as buttons %}
{% import "macros/modal.html" as modal %}
{% import "macros/icons.html" as icons %}

{% extends "admin/permissions/list.html" %}

{% set open_modal = true %}

{% block modal %}
{{
  modal.delete_modal(
    "Delete the Permission \"" ~ permission.name ~ "\"?",
    "If you delete this permission, it'll be removed from all the roles and users on which it was assigned. Make sure you don't use it anymore in your application.",
    url_for("dashboard.permissions:delete", id=permission.id),
  )
}}
{% endblock %}
