{% import "macros/buttons.html" as buttons %}
{% import "macros/forms.html" as forms %}
{% import "macros/modal.html" as modal %}
{% import "macros/icons.html" as icons %}

{% extends "admin/tenants/list.html" %}

{% block head_title_content %}Create Tenant · {{ super() }}{% endblock %}

{% set open_modal = true %}

{% block modal %}
  <form
    hx-boost="true"
    hx-target="#modal"
    method="POST"
    action="{{ url_for('dashboard.tenants:create') }}"
    _="on fief:closeModal go back"
  >
  {% call modal.header() %}
    {% call modal.title() %}Create Tenant{% endcall %}
  {% endcall %}
  {% call modal.body() %}
    <div class="space-y-4">
      {{ forms.form_field(form.name) }}
      {{ forms.form_field(form.registration_allowed) }}
      {{ forms.form_field(form.logo_url) }}
      {{ forms.form_field(form.application_url) }}
      {{ forms.form_field(form.theme) }}
      {{ forms.form_field(form.oauth_providers) }}
      {{ forms.form_csrf_token(form) }}
    </div>
  {% endcall %}
  {% call modal.footer() %}
    <button type="button" class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" _="install CloseModalButton()">Cancel</button>
    {% call buttons.submit('btn-sm') %}
      Create
    {% endcall %}
  {% endcall %}
  </form>
{% endblock %}
