{% import "macros/buttons.html" as buttons %}
{% import "macros/forms.html" as forms %}
{% import "macros/modal.html" as modal %}
{% import "macros/icons.html" as icons %}

{% extends "admin/users/list.html" %}

{% set open_modal = true %}

{% block modal %}
  <form
    hx-boost="true"
    hx-target="#modal"
    method="POST"
    action="{{ url_for('dashboard.users:access_token', id=user.id) }}"
    _="on fief:closeModal go back"
  >
  {% call modal.header() %}
    {% call modal.title() %}Create an access token{% endcall %}
  {% endcall %}
  {% call modal.body() %}
    <div class="space-y-4">
      <div>
        {{ forms.form_field(form.client_id) }}
        <div class="text-justify text-xs mt-1">The access token will be tied to this client.</div>
      </div>
      {{ forms.form_field(form.scopes) }}
      {{ forms.form_csrf_token(form) }}
    </div>
  {% endcall %}
  {% call modal.footer() %}
    <button type="button" class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" _="install CloseModalButton()">Cancel</button>
    {% call buttons.submit('btn-sm') %}
      Create
    {% endcall %}
  {% endcall %}
  </form>
{% endblock %}
