{% import 'macros/forms.html' as forms %}

{% extends "auth/layout.html" %}

{% block head_title_content %}{{ _('Forgot password') }}{% endblock %}

{% block title %}{{ _('Forgot password') }}{% endblock %}

{% block auth_form %}
  <form method="POST" action="{{ tenant.url_path_for(request, 'reset:forgot') }}">
    <div class="space-y-4">
      {{ forms.form_field(form.email) }}
      {{ forms.form_csrf_token(form) }}
    </div>
    <div class="flex items-center justify-between mt-6">
      <div class="mr-1">
        <a class="text-sm underline hover:no-underline" href="{{ tenant.url_path_for(request, 'auth:login') }}">{{ _('I remember my password') }}</a>
      </div>
      <button type="submit" class="btn bg-primary hover:bg-primary-hover text-white ml-3">{{ _('Send me a reset link') }}</button>
    </div>
  </form>
{% endblock %}
