{% import "macros/buttons.html" as buttons %}
{% import 'macros/forms.html' as forms %}
{% import "macros/verify_email.html" as verify_email %}

{% extends "auth/layout.html" %}

{% block head_title_content %}{{ _('Verify your email') }}{% endblock %}

{% block title %}{{ _('Verify your email') }}{% endblock %}

{% block auth_form %}
<script type="text/hyperscript">
  on load
    set $submitPending to false
  end

  def submitForm()
    if $submitPending is false
      set form to #{{ form.meta.id }}
      for submitButton in <button[type='submit'] /> in form
        toggle @disabled on submitButton
      end
      set $submitPending to true
      submit() the form
    end
  end
</script>
<form
  id="{{ form.meta.id }}"
  method="POST"
  action="{{ tenant.url_path_for(request, 'auth:verify_email') }}"
  _="
    on submit
      halt the event
      updateCodeValue()
      submitForm()
    end
  "
>
  <div class="space-y-4">
    <p class="text-justify text-sm">{{ _("To complete the email verification process, please check your email for the verification code. Enter the code below to verify your email address.") }}</p>
    {{ verify_email.form(form, code_length) }}
  </div>
  <div class="flex items-center justify-between mt-6">
    <a href="{{ tenant.url_path_for(request, 'auth:verify_email_request') }}" class="btn border-slate-200 hover:border-slate-300 text-primary">{{ _('Resend the code') }}</a>
    {% call buttons.submit('btn') %}
      {{ _("Verify my email") }}
    {% endcall %}
  </div>
</form>
{% endblock %}
