{% import "macros/alerts.html" as alerts %}
{% import "macros/buttons.html" as buttons %}
{% import "macros/forms.html" as forms %}

{% extends "auth/dashboard/layout.html" %}

{% block head_title_content %}{{ _("Password") }}{% endblock %}

{% block content %}
<h2 class="text-2xl text-slate-800 font-bold mb-5">{{ _("Change password") }}</h2>
<form hx-boost="true" method="POST" class="w-full md:w-1/2">
  <div class="space-y-4">
    {% if success %}
      {% call alerts.success() %}
        {{ success }}
      {% endcall %}
    {% endif %}
    {{ forms.form_field(form.old_password) }}
    {{ forms.form_field(form.new_password) }}
    {{ forms.form_field(form.new_password_confirm) }}
    {{ forms.form_csrf_token(form) }}
    {% call buttons.submit('btn') %}
      {{ _("Change password") }}
    {% endcall %}
  </div>
</form>
{% endblock %}
