<div
  class="flex flex-nowrap overflow-x-scroll no-scrollbar md:block md:overflow-auto px-3 py-6 border-b md:border-b-0 md:border-r border-slate-200 min-w-60 md:space-y-3"
  hx-boost="true"
>
  {% if tenant.application_url %}
    <div>
      <ul class="flex flex-nowrap md:block mr-3 md:mr-0">
        <li class="mr-0.5 md:mr-0 md:mb-0.5">
          <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap hover:bg-light-hover" href="{{ tenant.application_url }}" hx-boost="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
              class="w-4 h-4 shrink-0 fill-current text-slate-400 mr-2">
              <path fill-rule="evenodd"
                d="M7.793 2.232a.75.75 0 01-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 010 10.75H10.75a.75.75 0 010-1.5h2.875a3.875 3.875 0 000-7.75H3.622l4.146 3.957a.75.75 0 01-1.036 1.085l-5.5-5.25a.75.75 0 010-1.085l5.5-5.25a.75.75 0 011.06.025z"
                clip-rule="evenodd" />
            </svg>
            <span class="text-sm font-medium text-slate-600">{{ _('Back to application') }}</span>
          </a>
        </li>
      </ul>
    </div>
    <hr />
  {% endif %}
  <div>
    <ul class="flex flex-nowrap md:block mr-3 md:mr-0">
      <li class="mr-0.5 md:mr-0 md:mb-0.5">
        <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap hover:bg-light-hover {{ 'bg-light-hover' if current_route == 'auth.dashboard:profile' else '' }}"
          href="{{ tenant.url_path_for(request, 'auth.dashboard:profile') }}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 h-4 shrink-0 fill-current text-slate-400 mr-2">
            <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
          </svg>
          <span class="text-sm font-medium text-slate-600">{{ _('Profile') }}</span>
        </a>
      </li>
      <li class="mr-0.5 md:mr-0 md:mb-0.5">
        <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap hover:bg-light-hover {{ 'bg-light-hover' if current_route == 'auth.dashboard:password' else '' }}"
          href="{{ tenant.url_path_for(request, 'auth.dashboard:password') }}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  class="w-4 h-4 shrink-0 fill-current text-slate-400 mr-2">
            <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z" clip-rule="evenodd" />
          </svg>
          <span class="text-sm font-medium text-slate-600">{{ _('Password') }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
