{% import 'macros/forms.html' as forms %}

{% extends "auth_layout.html" %}

{% block head_title %}{{ _('Sign in') }}{% endblock %}

{% block title %}{{ _('Welcome back!') }}{% endblock %}

{% block auth_form %}
  <form method="POST" action="{{ tenant.url_path_for(request, 'auth:login') }}">
    <div class="space-y-4">
      {{ forms.form_field(form.email) }}
      {{ forms.form_field(form.password) }}
      {{ forms.form_csrf_token(form) }}
    </div>
    <div class="flex items-center justify-between mt-6">
      <div class="mr-1">
        <a class="text-sm underline hover:no-underline" href="{{ tenant.url_path_for(request, 'reset:forgot') }}">{{ _('I forgot my password') }}</a>
      </div>
      <button type="submit" class="btn bg-primary hover:bg-primary-hover text-white ml-3">{{ _('Sign in') }}</button>
    </div>
  </form>
  <div class="pt-5 mt-6 border-t border-gray-200">
    <div class="text-sm">
      {{ _("Don't have an account?") }}
      <a href="{{ tenant.url_path_for(request, 'register:register') }}" class="font-medium text-primary-500 hover:text-primary-600">{{ _('Sign up') }}</a>
    </div>
  </div>
{% endblock %}
