{% import "macros/alerts.html" as alerts %}
{% import "macros/forms.html" as forms %}

{% extends "admin/tenants/get/base.html" %}

{% block tab %}
<div class="mt-6 mb-4">
  {% call alerts.info() %}
    <p>These settings allow you to configure the sender of transactional emails (welcome, forgot password, etc.). By default, emails will be sent by <code class="p-0.5 bg-slate-100 rounded border border-slate-300">{{ default_from_name }} &lt;{{ default_from_email }}&gt;</code>.</p>
  {% endcall %}
</div>
<form
  hx-boost="true"
  hx-target="#aside"
  method="POST"
  action="{{ url_for('dashboard.tenants:email', id=tenant.id) }}"
>
  <div class="space-y-4">
    {{ forms.form_field(form.email_from_name) }}
    {{ forms.form_field(form.email_from_email) }}
    {{ forms.form_csrf_token(form) }}
    <button
      type="submit"
      class="btn w-full border-slate-200 hover:border-slate-300"
    >
      Update
    </button>
    {% if error %}
      {% call alerts.error() %}
        <p>{{ error }}</p>
      {% endcall %}
    {% endif %}
  </div>
</form>
{% if tenant.email_from_email and not email_provider.DOMAIN_AUTHENTICATION %}
  <div class="mt-6 space-y-4">
    <p class="text-sm text-yellow-600">The email provider configured on this Fief server doesn't support domain authentication. The transactional emails will be sent by <code class="p-0.5 bg-slate-100 rounded border border-slate-300">{{ tenant.email_from_email }}</code> but it's possible they will be marked as spam by email clients.</p>
  </div>
{% elif tenant.email_domain %}
  <div class="mt-6 space-y-4">
    <div class="text-sm font-semibold text-slate-800">Domain authentication</div>
    {% if tenant.email_domain.is_verified() %}
      <p class="text-sm">The email address domain <code class="p-0.5 bg-slate-100 rounded border border-slate-300">{{ tenant.email_domain.domain }}</code> is correctly authenticated. Transactional emails will be sent through this address.</p>
    {% else %}
      <p class="text-sm text-red-600">The email address domain <code class="p-0.5 bg-slate-100 rounded border border-slate-300">{{ tenant.email_domain.domain }}</code> is not authenticated. Transactional emails will <strong>not</strong> be sent through this address. Click on the button below to see the details about your domain authentication.</p>
    {% endif %}
    <a
      href="{{ url_for('dashboard.tenants:email_domain_authentication', id=tenant.id) }}"
      class="btn w-full border-slate-200 hover:border-slate-300"
      hx-boost="true"
      hx-target="#modal"
      _="install OpenModal"
    >
      Manage domain authentication
    </a>
  </div>
{% endif %}
{% endblock %}
