{% import "macros/buttons.html" as buttons %}
{% import "macros/forms.html" as forms %}
{% import "macros/modal.html" as modal %}
{% import "macros/icons.html" as icons %}

{% extends "admin/tenants/get/email.html" %}

{% block head_title_content %}{{ tenant.name }} · {{ super() }}{% endblock %}

{% set open_modal = true %}

{% block modal %}
  {% call modal.header() %}
    {% call modal.title() %}Domain authentication for "{{ tenant.email_domain.domain }}"{% endcall %}
  {% endcall %}
  {% call modal.body("p-0") %}
    <div class="p-5">
      Add the following DNS records on your domain's DNS provider. When it's done, click on the <strong>Verify</strong> button to check if they are correctly set up.
    </div>
    <table id="email-domain-authentication-records-table" class="table-fixed w-full">
      <thead class="text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200">
        <tr>
          <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap font-semibold text-left w-[20%]">Type</th>
          <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap font-semibold text-left">Host</th>
          <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap font-semibold text-left">Value</th>
          <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap font-semibold text-left w-[20%]">Verified</th>
        </tr>
      </thead>
      <tbody class="text-sm divide-y divide-slate-200">
        {% for record in tenant.email_domain.records %}
          <tr>
            <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">{{ record.type | upper }}</td>
            <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap truncate">{{ buttons.clipboard(record.host) }} {{ record.host }}</td>
            <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap truncate">{{ buttons.clipboard(record.value) }} {{ record.value }}</td>
            <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap flex justify-center">
              {% if record.verified %}
                {{ icons.check('w-4 h-4 text-green-600') }}
              {% else %}
                {{ icons.x_mark('w-4 h-4 text-red-600') }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endcall %}
  {% call modal.footer() %}
    <button
      type="button"
      class="btn-sm group bg-primary-500 hover:bg-primary-600 text-white disabled:border-slate-200 disabled:bg-slate-100 disabled:text-slate-400 disabled:cursor-not-allowed"
      hx-post="{{ url_for('dashboard.tenants:email_domain_verify', id=tenant.id) }}"
    >
      {{ icons.spinner('hidden group-disabled:block w-4 h-4 shrink-0 mr-2') }}
      Verify
    </button>
    <button type="button" class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" _="install CloseModalButton()">Close</button>
  {% endcall %}
  </form>
{% endblock %}
