{% import "macros/datatable.html" as datatable %}

{% macro name_column(api_key) %}
{{ api_key.name }}
{% endmacro %}

{% macro created_at_column(api_key) %}
{{ api_key.created_at.strftime('%x %X') }}
{% endmacro %}

{% macro actions_column(api_key) %}
<div class="flex justify-end">
  <a
    class="btn-xs bg-red-500 hover:bg-red-600 text-white"
    href="{{ url_for('dashboard.api_keys:delete', id=api_key.id) }}"
    hx-boost="true"
    hx-target="#modal"
    _="install OpenModal"
  >
    Delete
  </a>
</div>
{% endmacro %}

{{
  datatable.datatable(
    api_keys,
    count,
    datatable_query_parameters,
    "API Keys",
    columns | map("get_column_macro") | list,
  )
}}
