{% import "macros/buttons.html" as buttons %}
{% import "macros/forms.html" as forms %}
{% import "macros/modal.html" as modal %}
{% import "macros/icons.html" as icons %}

{% extends "admin/clients/list.html" %}

{% block head_title_content %}Create Client · {{ super() }}{% endblock %}

{% set open_modal = true %}

{% block modal %}
  <form
    hx-boost="true"
    hx-target="#modal"
    method="POST"
    action="{{ url_for('dashboard.clients:create') }}"
    _="on fief:closeModal go back"
  >
  {% call modal.header() %}
    {% call modal.title() %}Create Client{% endcall %}
  {% endcall %}
  {% call modal.body() %}
    <div class="space-y-4">
      {{ forms.form_field(form.name) }}
      {{ forms.form_field(form.first_party) }}
      {{ forms.form_field(form.client_type) }}
      {{ forms.form_field(form.redirect_uris) }}
      {{ forms.form_field(form.tenant) }}
      {{ forms.form_csrf_token(form) }}
    </div>
  {% endcall %}
  {% call modal.footer() %}
    <button type="button" class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" _="install CloseModalButton()">Cancel</button>
    {% call buttons.submit('btn-sm') %}
      Create
    {% endcall %}
  {% endcall %}
  </form>
{% endblock %}
